/*Testimonial Grid Section*/

body{
  background-color: #F2F2F2;
}

table {
margin: auto;
padding-top: 5%;
border-spacing: 25px;
}

td {
  border-radius: 10px;
}

h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #ECF2F8;
  position: relative;  /*Text in front of image*/
}

p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  color: #CFCFCF;opacity:0.7;
}


/* Person1 Daniel Clifford*/
.content-person-1 {
  padding: 20px;
  /* background-image: url('images/bg-pattern-quotation.svg'); */
}

.person1 {
  /*background-image: url("images/bg-pattern-quotation.svg");*/
  background-color: #7541C8;
}

/*image behind text*/
.quotation-img {
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  margin-left: 400px;
  margin-bottom: auto;
}

.daniel-img {
  border-radius: 50%;
  width: 35px;
  float: left;
  margin-right: 20px;
  border: 3px solid #A672F9;
}

.name-person1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;
}

.vg-person1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;opacity:0.5;
}


/* Person2 Jonathan Walters*/
.content-person-2 {
  padding: 20px;
}

.person2 {
	background-color: #48556A;
}

.jonathan-img{
  border-radius: 50%;
  width: 35px;
  float: left;
  margin-right: 20px;
}

.name-person2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;
}

.vg-person2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;opacity:0.5;
}

/* Person3 Kira Whittle*/
.content-person-3 {
  padding: 20px;
}

.person3 {
	background-color: #FFFFFF;
}

.kira-img {
  border-radius: 50%;
  width: 35px;
  float: left;
  margin-right: 20px;
}

.name-person3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #48556A;
}

.vg-person3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #48556A;opacity:0.5;
}

.person3 h3{
  color: #48556A;
}

.person3 p {
  color: #48556A;opacity:0.7;
}

/* Person4 Jeantte Harmon*/
.content-person-4 {
  padding: 20px;
}

.person4 {
	background-color: #FFFFFF;
}

.jeanette-img {
  border-radius: 50%;
  width: 35px;
  float: left;
  margin-right: 20px;
}

.name-person4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #48556A;
}

.vg-person4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #48556A;opacity:0.5;
}

.person4 h3{
  color: #48556A;
}

.person4 p {
  color: #48556A;opacity:0.7;
}

/* Person5 Patrick Abrams*/
.content-person-5 {
  padding: 20px;
}

.person5 {
	background-color: #19212E;
}

.patrick-img {
  border-radius: 50%;
  width: 35px;
  float: left;
  margin-right: 20px;
  border: 3px solid #7541C8;
}

.name-person5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;
}

.vg-person5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #CFCFCF;opacity:0.5;
}

@media only screen and (max-width: 340px) {
  body {
    background-color: lightblue;
  }

  table {
    width: 50%;
  }
